<html>
  <head>
    <link rel="stylesheet" href="https://gist.github.com/tuzz/3331384/raw/94f2380c2b798fab2139fd0a8f478c4f2d642e3b/github.css" />
  </head>

  <body>
    <h1>Java Bar</h1>

    <p>A simple way to include third party javascript libraries. I got tired of googling, downloading and copying into a folder.</p>

    <h2>Usage</h2>

    <p>Simply include a script tag to javabar. Include the libraries you want as query params.</p>

    <pre><code>&lt;script src="http://javabar.herokuapp.com/jquery+backbone+moment"&gt;&lt;/script&gt;</code></pre>


    <p>To specify a version, you can do this:</p>

    <pre><code>&lt;script src="http://javabar.herokuapp.com/jquery-2.0.0+backbone-1.0.0+moment"&gt;&lt;/script&gt;</code></pre>


    <p>To see a list of supported libraries, go to <a href="http://javabar.herokuapp.com/all">http://javabar.herokuapp.com/all</a></p>

  </body>

</html>